body {
  font-family: "Georgia", monospace;
  color: black;
}
header, 
main, 
footer,
nav {
  max-width: 760px;
  margin: 1.25rem auto;
}
header,
footer {
  background: salmon;
  border-radius: 15px;
}
h1,
h2 {
  margin: 0 0 0 50px;
  padding: 20px 0 20px 0;
  text-align: center;
}
img {
  float: right;
  margin: 20px 15px 0 0;
  border-color: #353945;
  border-radius: 1px;
  box-shadow: 2px 2px 2px 2px #52545e;
}
nav ul li {
  line-height: 1.5em;
}
.footertext {
  margin: 0 0 0 50px;
  padding: 20px 0 20px 0;
}
p {
  margin: 0 0 0 50px;
  padding: 20px 0 20px 0;
  text-align: center;
}
