h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}

p,
h6,
h5,
h4,
h3,
h2 {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  line-height: 10px;
  color: white;
  padding: 12px;
}

header div {
  display: flex;
}

header div div {
  display: block;
  margin-left: 10px;
}

header button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
}

header img {
  height: 45px;
  margin: 0 5px;
}
header h1 {
  align-items: center;
}

nav {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: goldenrod;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #333333;
}

nav ul li a:hover {
  background-color: #333333;
  color: #fff;
}

.hide {
  display: none;
}

.main-sections {
  background-color: goldenrod;
  padding: 25px;
  border: #333333 1px;
}

.weathersummary {
  background-color: goldenrod;
  border: 1px solid #333333;
  margin-top: 2rem;
}
.display li {
  list-style: none;
  font-display: center;
}

h2,
h4 {
  text-align: center;
  padding: 10px;
}

.news,
.contact {
  background-color: goldenrod;
  border: 1px solid #333333;
  margin-top: 2rem;
}
.forecast {
  display: none;
}
footer {
  background-color: blue;
  color: #fff;
  display: block;
  text-align: center;
  padding: 25px;
}
p {
  padding: 15px;
}
.responsive {
  width: 100%;
  height: auto;
  
}

.pimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.prestonimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px;
}
.prestoninfo {
  text-align: center;
  line-height: 200%;
}
