@media only screen and (min-width: 815px) {
  header img {
    height: 60px;
    margin: 0 10px;
  }

  h1 {
    font-size: 24px;
  }

  header button {
    display: none;
  }

  .nav_bar {
		display: flex;
  }
  
	.nav_bar li {
		display: block; 
		flex: 1 1 auto;
  }
  
	.nav_bar a {
		text-align: center;
  }
  
	.nav_bar li:first-child {
		display: none;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .tbl td {
    text-align: center;
    margin-bottom: 2em;
    border: ridge;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .forecast h2 {
    text-align: center;
  }
  .forecast {
    display: block;
    background: goldenrod;
    border: 1px solid #333333;
  
  }

  h4 {
    text-align: center;
  }
  .pimage {
    float: right;
    width: 400px;
    padding: 15px;
  }

  .weathersummary {
    position: relative;
    background: radial-gradient(gray, white);
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 30px #111;
    width: 20%;
    opacity: 0.8;
    top: -300px;
    left: 90px;
  }
  .imagegallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
