@media only screen and (min-width: 900px) {
  header img {
    height: 60px;
    margin: 0 10px;
  }

  h1 {
    font-size: 24px;
  }

  h4 {
    text-align: center;
  }
  header button {
    display: none;
  }

  .nav_bar {
    display: flex;
  }

  .nav_bar li {
    display: block;
    flex: 1 1 auto;
  }

  .nav_bar a {
    text-align: center;
  }

  .nav_bar li:first-child {
    display: none;
  }
 
 
  .history h1{
    font-size: 35px;
  }
 

.demographics{
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

.contactus{
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px 0 0 0;
}
form label.top, form label.bottom {
  font-size: 30px;
}
header h1 {
  font-size: 50px;
}
header h5{
  font-size: 25px;
}

}


  

